quay-installer
*.tar.gz
.terraform
terraform-key.json
.terraform.lock.hcl
terraform.tfstate*
ansible/context
image-archive.tar
execution-environment.tar
sqlite3.tar
quay-aioi
mirror-registry*
local-testing
ansible-runner/context/Dockerfile
venv 
.DS_STORE
.vagrant
