- name: Create podman pod
  hosts: all
  become: yes
  tasks:
    - name: Create podman pod for shared network namespace
      containers.podman.podman_pod:
        name: quay-pod
        state: started
        ports:
          - 80:8080
          - 443:8443
