- name: Checking for Image Archive
  local_action: stat path=/runner/image-archive.tar
  register: p

- name: Create install directory for image-archive.tar dest
  ansible.builtin.file:
    path: "{{ quay_root }}"
    state: directory
    recurse: yes
  when: p.stat.exists

- name: Copy Images if /runner/image-archive.tar exists
  copy:
    src: /runner/image-archive.tar
    dest: "{{ quay_root }}/image-archive.tar"
  when: p.stat.exists and local_install == "false"

- name: Unpack Images if /runner/image-archive.tar exists
  command: "tar -xvf {{ quay_root }}/image-archive.tar -C {{ quay_root }}/"
  when: p.stat.exists and local_install == "false"

- name: Loading Pause if pause.tar exists
  shell:
    cmd: podman image import --change 'ENV PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' --change 'ENV container=oci' --change 'ENTRYPOINT=["sleep"]' --change 'CMD ["infinity"]' - {{ pause_image }} < {{ quay_root }}/pause.tar
  when: p.stat.exists and local_install == "false"

- name: Loading Redis if redis.tar exists
  shell:
    cmd: podman image import --change 'ENV PATH=/opt/app-root/src/bin:/opt/app-root/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' --change 'ENV container=oci' --change 'ENV STI_SCRIPTS_URL=image:///usr/libexec/s2i' --change 'ENV STI_SCRIPTS_PATH=/usr/libexec/s2i' --change 'ENV APP_ROOT=/opt/app-root' --change 'ENV HOME=/var/lib/redis' --change 'ENV PLATFORM=el8' --change 'ENV REDIS_VERSION=6' --change 'ENV CONTAINER_SCRIPTS_PATH=/usr/share/container-scripts/redis' --change 'ENV REDIS_PREFIX=/usr' --change 'ENV REDIS_CONF=/etc/redis.conf' --change 'ENTRYPOINT=["container-entrypoint"]' --change 'USER=1001' --change 'WORKDIR=/opt/app-root/src' --change 'EXPOSE=6379' --change 'VOLUME=/var/lib/redis/data' --change 'CMD ["run-redis"]' - {{ redis_image }} < {{ quay_root }}/redis.tar
  when: p.stat.exists and local_install == "false"

- name: Loading Quay if quay.tar exists
  shell:
    cmd: podman image import --change 'ENV container=oci' --change 'ENV PATH=/opt/app-root/bin:/opt/app-root/src/.local/bin:/opt/app-root/src/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' --change 'ENV PYTHONUNBUFFERED=1' --change 'ENV PYTHONIOENCODING=UTF-8' --change 'ENV LC_ALL=C.UTF-8' --change 'ENV LANG=C.UTF-8' --change 'ENV QUAYDIR=/quay-registry' --change 'ENV QUAYCONF=/quay-registry/conf' --change 'ENV QUAYRUN=/quay-registry/conf' --change 'ENV QUAYPATH=/quay-registry' --change 'ENV PYTHONUSERBASE=/app' --change 'ENV PYTHONPATH=/quay-registry' --change 'ENV TZ=UTC' --change 'ENV RED_HAT_QUAY=true' --change 'ENTRYPOINT=["dumb-init","--","/quay-registry/quay-entrypoint.sh"]' --change 'WORKDIR=/quay-registry' --change 'EXPOSE=7443' --change 'EXPOSE=8080' --change 'EXPOSE=8443' --change 'VOLUME=/conf/stack' --change 'VOLUME=/datastorage' --change 'VOLUME=/sqlite' --change 'VOLUME=/tmp' --change 'VOLUME=/var/log' --change 'USER=1001' --change 'CMD ["registry"]' - {{ quay_image }} < {{ quay_root }}/quay.tar
  when: p.stat.exists and local_install == "false"
