- name: Checking for Image Archive
  local_action: stat path=/runner/image-archive.tar
  register: p

- name: Create install directory for image-archive.tar dest
  ansible.builtin.file:
    path: /etc/quay-install
    state: directory
    recurse: yes
  when: p.stat.exists

- name: Copy Images if /runner/image-archive.tar exists
  copy:
    src: /runner/image-archive.tar
    dest: /etc/quay-install/image-archive.tar
  when: p.stat.exists and local_install == "false"

- name: Unpack Images if /runner/image-archive.tar exists
  command: tar -xvf /etc/quay-install/image-archive.tar -C /etc/quay-install/
  when: p.stat.exists and local_install == "false"

- name: Loading Redis if redis.tar exists
  shell: 
    cmd: podman image import --change 'ENV PATH=/opt/app-root/src/bin:/opt/app-root/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' --change 'ENV container=oci'  --change 'ENV STI_SCRIPTS_URL=image:///usr/libexec/s2i' --change 'ENV STI_SCRIPTS_PATH=/usr/libexec/s2i' --change 'ENV APP_ROOT=/opt/app-root' --change 'ENV HOME=/var/lib/redis' --change 'ENV PLATFORM=el8' --change 'ENV REDIS_VERSION=6' --change 'ENV CONTAINER_SCRIPTS_PATH=/usr/share/container-scripts/redis' --change 'ENV REDIS_PREFIX=/usr' --change 'ENTRYPOINT=["container-entrypoint"]' --change 'USER=1001' --change 'WORKDIR=/opt/app-root/src' --change 'EXPOSE=6379' --change 'VOLUME=/var/lib/redis/data' --change 'CMD ["run-redis"]' - {{ redis_image }} < /etc/quay-install/redis.tar
  when: p.stat.exists and local_install == "false"

- name: Loading Quay if quay.tar exists
  shell: 
    cmd: podman image import --change 'ENV PATH=/.local/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' --change 'ENV RED_HAT_QUAY=true' --change 'ENV PYTHON_VERSION=3.8' --change 'ENV PYTHON_ROOT=/usr/local/lib/python3.8' --change 'ENV PYTHONUNBUFFERED=1' --change 'ENV PYTHONIOENCODING=UTF-8' --change 'ENV LANG=en_US.utf8' --change 'ENV QUAYDIR=/quay-registry' --change 'ENV QUAYCONF=/quay-registry/conf' --change 'ENV QUAYPATH=.' --change 'ENV container=oci' --change 'ENTRYPOINT=["dumb-init","--","/quay-registry/quay-entrypoint.sh"]' --change 'WORKDIR=/quay-registry' --change 'EXPOSE=7443' --change 'EXPOSE=8080' --change 'EXPOSE=8443' --change 'VOLUME=/conf/stack' --change 'VOLUME=/datastorage' --change 'VOLUME=/tmp' --change 'VOLUME=/var/log' --change 'USER=1001' --change 'CMD ["registry"]' - {{ quay_image }} < /etc/quay-install/quay.tar
  when: p.stat.exists and local_install == "false"

- name: Loading Postgres if postgres.tar exists
  shell: 
    cmd: podman image import --change 'ENV PATH=/opt/app-root/src/bin:/opt/app-root/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' --change 'ENV STI_SCRIPTS_URL=image:///usr/libexec/s2i' --change 'ENV STI_SCRIPTS_PATH=/usr/libexec/s2i' --change 'ENV APP_ROOT=/opt/app-root' --change 'ENV APP_DATA=/opt/app-root' --change 'ENV HOME=/var/lib/pgsql' --change 'ENV PLATFORM=el8' --change 'ENV POSTGRESQL_VERSION=10' --change 'ENV POSTGRESQL_PREV_VERSION=9.6' --change 'ENV PGUSER=postgres' --change 'ENV CONTAINER_SCRIPTS_PATH=/usr/share/container-scripts/postgresql' --change 'ENTRYPOINT=["container-entrypoint"]' --change 'WORKDIR=/opt/app-root/src' --change 'EXPOSE=5432' --change 'USER=26' --change 'CMD ["run-postgresql"]' - {{ postgres_image }} < /etc/quay-install/postgres.tar
  when: p.stat.exists and local_install == "false"