- name: Creating init user at endpoint https://{{ quay_hostname }}/api/v1/user/initialize
  uri:
    url: "https://{{ quay_hostname}}/api/v1/user/initialize"
    method: POST
    validate_certs: no
    return_content: yes
    body_format: json
    body: '{ "username": "init", "password": "{{ init_password }}", "email": "init@quay.io", "access_token": "true" }'
  register: result
