- name: Expand variables
  include_tasks: expand-vars.yaml

- name: Create secret vars
  include_tasks: secret-vars.yaml

- name: Install Dependencies
  include_tasks: install-deps.yaml

- name: Set SELinux Rules
  include_tasks: set-selinux-rules.yaml

- name: Install Quay Pod Service
  include_tasks: install-pod-service.yaml

- name: Autodetect Image Archive
  include_tasks: autodetect-image-archive.yaml

- name: Install Postgres Service
  include_tasks: install-postgres-service.yaml

- name: Install Redis Service
  include_tasks: install-redis-service.yaml

- name: Install Quay Service
  include_tasks: install-quay-service.yaml

- name: Wait for Quay
  include_tasks: wait-for-quay.yaml

- name: Create init user
  include_tasks: create-init-user.yaml

- name: Enable lingering for systemd user processes
  command: "loginctl enable-linger"
  when: ansible_user_uid != 0
