- name: Copy Quay systemd service file
  template:
    src: ../templates/quay.service.j2
    dest: "{{ systemd_unit_dir }}/quay-app.service"
  vars:
    quay_cmd: "registry"

- name: Check if Quay image is loaded
  command: podman inspect --type=image {{ quay_image }}
  register: q
  ignore_errors: yes

- name: Pull Quay image
  containers.podman.podman_image:
    name: "{{ quay_image }}"
  when: q.rc != 0
  retries: 5
  delay: 5

- name: Start Quay service
  systemd:
    name: quay-app.service
    enabled: yes
    daemon_reload: yes
    state: restarted
    scope: "{{ systemd_scope }}"
