- name: Expand variables
  include_tasks: expand-vars.yaml

- name: Install Dependencies
  include_tasks: install-deps.yaml

- name: Set SELinux Rules
  include_tasks: set-selinux-rules.yaml

- name: Autodetect root or rootless from previous install
  include_tasks: migrate-pre-1_3_0.yaml

- name: Create podman secrets
  include_tasks: migrate-pre-1_3_11.yaml

- name: Autodetect Image Archive
  include_tasks: autodetect-image-archive.yaml

- name: Upgrade Quay Pod Service
  include_tasks: upgrade-pod-service.yaml

- name: Upgrade Postgres Service
  include_tasks: upgrade-postgres-service.yaml

- name: Upgrade Redis Service
  include_tasks: upgrade-redis-service.yaml

- name: Upgrade Quay Service
  include_tasks: upgrade-quay-service.yaml

- name: Wait for Quay
  include_tasks: wait-for-quay.yaml
