- name: Expand variables
  include_tasks: expand-vars.yaml

- name: Install Dependencies
  include_tasks: install-deps.yaml

- name: Set SELinux Rules
  include_tasks: set-selinux-rules.yaml

- name: Autodetect existing Secrets in config.yaml
  include_tasks: upgrade-config-vars.yaml

- name: Check if quay-postgres container is running
  command: podman ps -q -f name=quay-postgres
  register: postgres_container_status
  changed_when: false

- name: Migrate postgres db to sqlite for Quay
  include_tasks: migrate.yaml
  when: postgres_container_status.stdout != ""

- name: Autodetect Image Archive
  include_tasks: autodetect-image-archive.yaml

- name: Upgrade Quay Pod Service
  include_tasks: upgrade-pod-service.yaml

- name: Upgrade Redis Service
  include_tasks: upgrade-redis-service.yaml

- name: Upgrade Quay Service
  include_tasks: upgrade-quay-service.yaml

- name: Wait for Quay
  include_tasks: wait-for-quay.yaml
