[Unit]
Description=Quay Container
Wants=network.target
After=network-online.target quay-pod.service quay-redis.service
Requires=quay-pod.service quay-redis.service

[Service]
Type=simple
TimeoutStartSec=5m
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStartPre=-/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid
ExecStartPre=-/bin/rm -f %t/%n-pid %t/%n-cid
ExecStart=/usr/bin/podman run \
    --name quay-app \
    -v {{ expanded_quay_root }}/quay-config:/quay-registry/conf/stack:Z \
    -v {{ expanded_sqlite_storage }}:/sqlite:Z \
    -v {{ expanded_quay_storage }}:/datastorage:Z \
    --image-volume=ignore \
    --pod=quay-pod \
    --conmon-pidfile %t/%n-pid \
    --cidfile %t/%n-cid \
    --cgroups=no-conmon \
    --log-driver=journald \
    --replace \
    -e WORKER_COUNT_UNSUPPORTED_MINIMUM=1 \
    -e WORKER_COUNT=1 \
    {{ quay_image }} {{ quay_cmd }}
    
ExecStop=-/usr/bin/podman stop --ignore --cidfile %t/%n-cid -t 10
PIDFile=%t/%n-pid
KillMode=none
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target default.target
