[Unit]
Description=PostgreSQL Podman Container for Quay
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-sudo /usr/bin/podman rm "quay-postgresql-service"

ExecStart=sudo /usr/bin/podman run \
    --name quay-postgresql-service \
    -v %h/quay-install/pg-data:/var/lib/pgsql/data:Z \
    -e POSTGRESQL_USER=user \
    -e POSTGRESQL_PASSWORD=password \
    -e POSTGRESQL_DATABASE=quay \
    --net=host \
    docker.io/centos/postgresql-10-centos8

ExecReload=-sudo /usr/bin/podman stop "quay-postgresql-service"
ExecReload=-sudo /usr/bin/podman rm "quay-postgresql-service"
ExecStop=-sudo /usr/bin/podman stop "quay-postgresql-service"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
