[Unit]
Description=Quay Container
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-sudo /usr/bin/podman rm "quay-app-service"

ExecStart=sudo /usr/bin/podman run \
    --name quay-app-service \
    -p 80:8080 \
    -p 443:8443 \
    -v %h/quay-install/quay-config:/conf/stack \
    -v %h/quay-install/quay-storage:/datastorage:Z \
    --net=host \
    quay.io/projectquay/quay:latest
    
ExecReload=-sudo /usr/bin/podman stop "quay-app-service"
ExecReload=-sudo /usr/bin/podman rm "quay-app-service"
ExecStop=-sudo /usr/bin/podman stop "quay-app-service"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
