[Unit]
Description=Quay Container
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman rm "quay-app-service"

ExecStart=/usr/bin/podman run \
    --name quay-app-service \
    

ExecReload=-/usr/bin/podman stop "quay-app-service"
ExecReload=-/usr/bin/podman rm "quay-app-service"
ExecStop=-/usr/bin/podman stop "quay-app-service"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
