[Unit]
Description=Redis Podman Container for Quay
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-sudo /usr/bin/podman rm "quay-redis-service"

ExecStart=sudo /usr/bin/podman run \
    --name quay-redis-service \
    -e REDIS_PASSWORD=password \
    --net=host \
    docker.io/centos/redis-5-centos8

ExecReload=-sudo /usr/bin/podman stop "quay-redis-service"
ExecReload=-sudo /usr/bin/podman rm "quay-redis-service"
ExecStop=-sudo /usr/bin/podman stop "quay-redis-service"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
